//Spacing
$mg-small:0.25rem;
$mg-p3:0.3rem;
$mg-p5:0.5rem;
$mg:0.5rem;
$mg-medium:1rem;
$mg-left:1.5rem;
$bodyPaddingBottom:3.5rem;

//Colors
$gybe-orange:#553227;
$reddish:#c82929f5;
$dim-black:rgba(10,10,10,0.4);
$greyItems:rgba(180,180,180,0.3); 
$lightOrangeItems:rgba(80, 48, 39,0.6);
@mixin absoluteblock(){
    position:absolute;
    content:"";
    top:0;
    left:0;
    height:100%;
    width:100%;
  }

@mixin bodybackground(){
  background: no-repeat url("godspeed-arabic.jpg");
  background-size:cover;
  background-position:center center;
  //when we scroll, we move the lines up (all that scrolls)
  //but the background is fixed, it's like a layer below.
  background-attachment:fixed;
}
