@use "../fonts/amaranth.css";//amaranthregular
@use "../fonts/enriqueta.css";//enriquetaregular
@use "../fonts/oxygen-mon.css";//oxygen_monoregular

body{ font: 1.8rem "oxygen_monoregular", Helvetica, sans-serif; }

.users__p{ font: 2.0rem "amaranthregular", "sans-serif"; }

.btn--leave, .btn--send{
font-family: small-caps "enriquetaregular", "sans-serif";
letter-spacing:1px;
}

div.info{ font-size:0.9rem; }
