@use "defs";
body{
  display:grid;
  grid-column-gap:1rem;
  grid-template-columns:minmax(200px, 1fr) minmax(400px, 3fr);
  grid-template-areas: "aside main";
  height:100%;//of the viewport
  align-content:center;
}
//main and aside
body > * { height:calc(100vh - #{defs.$mg-medium}); }

main {
  grid-area:main;
  display:grid;
  #messages{
    align-self:start;
    overflow:auto;
    margin:auto;
    height:100%;//of the parent (main)
    width:90%;
  }
  .bottomBar{
    align-self:end; 
}}

aside {
  display:grid;
  grid-area:aside;
  .btn--leave{
    align-self:end;
  }
  .users__p{
  align-self:start;
  justify-self:center;
  }}
