@use 'resets';
@use 'defs';
@use 'grid';
@use 'fonts';


body { 
  background-color:defs.$dim-black;
  padding: defs.$mg-medium;
  &::after, &::before{
    z-index:-1;
    background-color:defs.$dim-black;
    @include defs.absoluteblock;//0 0 100 100
  }
  &::after{
    @include defs.bodybackground;
    z-index:-2;
}}

aside {
  background-color:defs.$dim-black;
  .btn--leave{
    color: white;
    font-variant: small-caps;
    padding:defs.$mg-medium;
    background-color:defs.$reddish;
  }
  .users__p {
    padding:defs.$mg;
    border-bottom:4px solid defs.$gybe-orange;
}}
//dynamic area
#messages { //ul
  > li { 
     margin-top:defs.$mg; 
    &:nth-child(odd) > span{ 
      background:defs.$greyItems;
    }
    > span  {
      display:inline-block;
      border-radius:0.4rem;
      padding: defs.$mg-p3 defs.$mg;
      padding-top: calc( #{defs.$mg-p3} + 0.3rem);
      background:defs.$lightOrangeItems;
      box-shadow:1px 1px 1px rgba(70,70,70,0.7);
    }
}}

//input
form { 
  /*form children*/
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  background: rgba(0,0,0,0.5);
  padding: defs.$mg;
  font-size:1.5rem;
  input { 
    border:none;
    padding: inherit;
    flex:90% 1 2;
    margin-right: 0.5%;
  }
  .btn--send { 
    flex:9% 1 1;
    background: rgb(130, 224, 255);
}}
