@font-face{
src: url("../fonts/typewcond_regular.woff");
font-family:"typewritter";
}

@font-face{
src: url("../fonts/Heartless.woff");
font-family:"heartless";
}

@font-face{
src: url("../fonts/Montserrat.woff");
font-family:"Montserrat";
}

html{
  font-size:16px;
}

body{
  font: 1.8rem typewritter, Helvetica, sans-serif;
  color:#fff;
}
.users__p{
  font: 2.0rem "Montserrat", "sans-serif";
  }
  
div.info{
  font-size:1rem;
  text-align:right;
}
